*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    background-color: rgb(15, 15, 63);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-height{
    width: 450px;
    height: 500px;
    background-color: rgb(18, 18, 247);
    border-radius: 10px;
}

.background-width{
    background-color: rgb(18, 18, 87);
    width: 600px;
    height: 400px;
    position: relative;
    top: 50px;
    right: 75px;
    border-radius: 15px;
    box-shadow: 0 25px 40px rgb(0, 0, 0, 0.2);
    
}
h1{
    color: white;
    font-size: 130px;
    text-align: center;
    padding: 40px;
    padding-bottom: 0;
}

.btn{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.keys{
    width: 100px;
    padding: 20px;
    background-color: rgb(18, 18, 247);
    border: 2px solid rgb(18, 18, 247);
    border-radius: 10px;
    color: white;
    font-size: 40px;
}

.keys:nth-child(2){
    background-color: transparent;
    
}